AdminProfile.css

.profile-card {
    max-width: 500px;
    margin: 0 auto;
    border-left: 6px solid #0d6efd;
    background-color: #f8f9fa;
    transition: 0.3s ease;
  }
  
  .profile-card:hover {
    box-shadow: 0 0 10px rgba(13, 110, 253, 0.4);
  }
  
  .profile-icon {
    font-size: 3rem;
    color: #0d6efd;
  }
  
  .dashboard-content {
    flex-grow: 1;
    padding: 20px;
   
    justify-content: center; /* center horizontally */
    align-items: center;     /* center vertically (optional) */
    min-height: 100vh;       /* full height to center vertically */
    background-color: #f8f9fa;
  }
  
  .admin-profile-card {
    width: 100%;
    max-width: 500px; /* set max width */
    justify-content: center;
    padding: 50px;
    margin-left: 200px;
    text-align: center;

  }
  