/* AdminProfile.css */

.admin-profile-card {
  max-width: 600px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.edit-profile-button{
  width: 120px;
  font-size: 11px;
  height: 41px;
}

.Admin-logout-button{
   width: 120px;
  font-size: 11px;
  height: 41px;
  margin-top: 10px;
}

.edit-profile-btn {
  align-self: center;
}

.profile-actions {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
}

.admin-profile-card strong {
  color: #333;
  margin-right: 5px;
}

.admin-profile-card .card-title,
.admin-profile-card .card-subtitle {
  margin-bottom: 15px;
}

/* Modal styling */
.modal-content {
  border-radius: 10px;
}

.modal-header {
  border-bottom: 1px solid #eee;
}

.modal-footer {
  border-top: 1px solid #eee;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .profile-header {
    flex-direction: column;
  }
  
  .edit-profile-btn {
    margin-top: 15px;
    align-self: flex-start;
  }
}