footer {
  background-color:  #4a6bff; /* Dark background */
  color: #ffffff;
  /* padding-top: 20px; */
  /* padding-bottom: 20px; */
  font-size: 14px;
  box-shadow:  #4a6bff;;
  height: 250px;
}

footer a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
}

footer a:hover {
  color: #0d6efd; /* Bootstrap primary color */
}

footer .fa-lg {
  font-size: 1.5rem;
}

footer .mx-2 {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
}

footer .mx-3 {
  margin-left: 0.75rem !important;
  margin-right: 0.75rem !important;
}
