/* Navbar.css किंवा तुझ्या CSS फाईल मध्ये */
.navbar {
    background-color: #4a6bff;
    height: 70px;
  }
  .text-custom-blue {
    color: #4a6bff;
  }

  .collapse{
    background-color: #4a6bff;
  }
  

  