/* Home.css */

.carousel-img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* horizontal scroll bandh */
}

.section {
  padding: 20px;
}

/* .container-fluid {
  padding-left: 0;
  padding-right: 0;
} */


.carousel {
  height: 30vh;
  overflow: hidden; 
}


/* .carousel-inner img {
  width: 50%;
  height: 50%;
} */



