 .carousel-img {
  height: 300px;
  width:100%;
  object-fit: contain; 
  background-color: #000; 
}

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.section {
  padding: 20px;
}

.carousel {
  height: auto; 
  overflow: hidden;
}

.carousel-img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.carousel slide{
  width: 100%;
}

.carousel-inner{
  width: 100%;
}

.carousel-item{
  width: 100%;
}

 


